<html>
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/blog.css" />
    <title>Romanos' Blog</title>
</head>
<body>
    <!-- blog template -->
    <div>
        <div class="title">
            <h1><a href="/blog/">My Blog</a></h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="../admin/blog/" class="active">Blog</a></li>
                <li><a href="../admin/blog/new">New Blog Post</a></li>
                <li><a href="../admin/recache">Re Cache</a></li>
            </ul>
        </div>
    </div>

    <div class="mainContent blog">
        {{.Blog}}
    </div>
    <div class="footer">

    </div>
</body>
</html>